os:
  - linux
sudo: false
addons:
  apt:
    
    sources:
      - ubuntu-toolchain-r-test 
    packages:
      - libstdc++6
      - fonts-droid-fallback
before_script:
  - git clone https://github.com/flutter/flutter.git -b beta
  - ./flutter/bin/flutter doctor
script:
  - sudo install mesa-libGLU.x86_64
  - ./flutter/bin/flutter test
cache:
  directories:
    - $HOME/.pub-cache